:root {
  font-size: 62.5%;
  --color-secondary: #fff;
  --color-primary: #222;
  --color-accent: #d23669;
  --padding-block-general: 4.2rem;
  --duration-medium: 300ms;
  --space1: 3rem;
  --space2: 5rem;
  --space3: 7rem;
}

body {
  font-family: 'catamaran-regular-400', Arial, sans-serif;
  font-size: 1.6rem;
  color: var(--color-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h1,
h2 {
  font-family: 'montserrat-black-900';

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 4.2rem;
  padding-block-start: var(--padding-block-general);
}

main {
  margin-inline: auto;
  max-width: 60ch;
  margin-block-start: var(--space2);
}

footer {
  display: flex;
  justify-content: space-between;
  padding-block-end: var(--padding-block-general);
  margin-block-start: var(--space3);
}

header,
aside,
main,
footer {
  max-width: 67.2rem;
  margin-inline: auto;
}

article {
  padding-block-end: var(--space2);
}

button {
  cursor: pointer;
}

a {
  color: var(--color-accent);
  text-decoration: none;

  &:hover {
    background-color: var(--color-accent);
    color: var(--color-secondary);
  }
}

h1 a {
  padding: .2rem .4rem;
  color: inherit;

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
}

main.page h2,
main.single .date {
  padding-block-end: var(--space1);
}

input[name=qfront] {
  border: none;
  border-block-end: .2rem solid;
  outline: none;
}