/* montserrat-bold-700 */
@font-face {
  font-family: "montserrat-bold-700";
  font-display: swap;
  src: url("./fonts/montserrat-bold-700.woff2") format("woff2");
}

/* montserrat-black-900 */
@font-face {
  font-family: "montserrat-black-900";
  font-display: swap;
  src: url("./fonts/montserrat-black-900.woff2") format("woff2");
}

/* catamaran-regular-400 */
@font-face {
  font-family: "catamaran-regular-400";
  font-display: swap;
  src: url("./fonts/catamaran-regular-400.woff2") format("woff2");
}